[2021-05-27 15:10] TallTed commented on #174
You're still applying `:color` where it is nonsensical.

`:color` is not being used as an attribute of `:car`, nor of `:alice`.

`_:x :color :red` is simply a nonsensical statement, given the other attributes of `_:x`.

[2021-05-27 15:13] rat10 commented on #22
@TallTed The whole RDF-star effort was based on very few examples and when they didn't work any longer as the semantics changed they were called "regrettably misguided" and new examples were brought in. It is relatively easy to produce examples that proof your case. It is much harder to proof how your semantics can deal with arbitrary and expectable use cases. My example is an absolutely ordinary,

[2021-05-27 15:14] rat10 commented on #170
@TallTed answered [here](https://github.com/w3c/rdf-star/issues/22#issuecomment-849717507)

[2021-05-27 15:16] rat10 commented on #174
Man, you're on the loose! Already answered [here](https://github.com/w3c/rdf-star/issues/22#issuecomment-849717507) and referenced [here](https://github.com/w3c/rdf-star/issues/170#issuecomment-849686908). No need to make the same comment three times.

[2021-05-27 15:35] rat10 commented on #170
@TallTed And don't forget that it's the proposed semantics that makes RDF-star so brittle. It is still advertized as the go-to solution for all meta modelling needs: reification, property graphs, n-ary relations, you name it. Yet, as Olaf suggests [above](https://github.com/w3c/rdf-star/issues/170#issuecomment-849464444) - and you seem to endorse that - it needs very careful handling of properties

[2021-05-27 15:49] TallTed commented on #22
I choose to ignore nonsense data, when it's clearly nonsense.  Arbitrary and expectable use cases *where the user inputs nonsense* should have a way to be discounted *as nonsense.*

If you want me to understand (and buy into) an argument you're making, it behooves you to make that argument and all its sample data be internally coherent, sensical, etc.; else, I think it's entirely fair for me to sa

[2021-05-27 16:30] afs commented on #174
I would say this isn't reusing abbreviated syntax because that expands to `<<>>` form during parsing.

It's another first-class concept.
e.g. it's a term `<| :s :p :o |>` meaning "transparent".

A translation approach does loop back to the issues of using multiple triples like reification.

[2021-05-27 17:41] TallTed commented on #170
Well, yes, anyone can say anything about anything.  Truth, lies, exaggerations, minutely exact descriptions... All are possible.

So, there needs to be a way to say "these statements were asserted by asserter, on date, at time" without inherently asserting those statements -- which you may *know* to be false.  Named graphs are one way to do this, but people don't like single-triple-graphs nor "sta

[2021-05-27 17:41] pchampin commented on #170
@rat10 just one little thing:

No, not at all. That's simply not what the spec is saying.

[2021-05-27 17:43] TallTed commented on #174
Really?  You created this issue, when the other two on pretty much exactly the same topic were already being actively discussed....  So there does appear to be such a need.

[2021-05-27 18:47] hartig commented on #170
@rat10

If "the proposed semantics" is meant to refer to a opacity-by-default semantics for RDF-star, then you are wrong. It is the idea of a transparency-by-default semantics that would cause entailments that cannot be taken back when trying to selectively achieve referential opacity for selected embedded triples. I thought [you had understood that already ("So I agree that [...] the default per

[2021-05-27 19:07] rat10 commented on #170
Please, enlighten me!

[2021-05-27 19:16] rat10 commented on #170
@hartig

Yes, I understood that already. The sentence you cite starts with `It would be much easier to name the few properties for which referential opacity makes sense ....`. What I was trying to express is that I tried to make referential transparency the default and only define a few properties as referentially opaque, following your proposal but under reversed pre-conditions. However, as you e

[2021-05-27 20:02] rat10 commented on #170
Unasserted assertions are an orthogonal issue. For example in post-WW2-Germany there was an infamous saying that

`<< :Hitler :wasn't :allBad >> :because :heBuiltTheAutobahn `

Now I sure as hell wouldn't want to have the statement that `:Hitler :wasn't :allBad` in my triple store but I wouldn't mind at all if `:Hitler` was replaced by his WikiData identifier. The ability to make unasserted statem

[2021-05-27 20:09] rat10 commented on #22
I hope my updated example [here](https://github.com/w3c/rdf-star/issues/170#issuecomment-849904044) helps.

The Neo4j tutorial is very relevant to learn about the needs and customs of property graph users. Support for RDF-star is to no small degree reliant on its claimed ability to support property graphs in RDF so it'd better support them, and well.

[2021-05-27 20:25] rat10 commented on #174
@afs

The shorthand
[code]
expands to
[code]
In my expansion example above the embedded triple is in the object position and 3 more statements are added. I don't see a principal difference between the two. Can you please explain?

I wouldn't necessarily be opposed to another first-class concept but I'm also not convinced that we need to go that far just because of certain implementation considerat

[2021-05-27 20:43] lisp commented on #170
if one posits "referential opacity", is working with a dataset which includes

    :proposedSemantics :are :nonsense .
    << :proposedSemantics :are :nonsense >> :said :thomas .

arranges to bind respective variables to the subject term of the first triple and the subject term of the embedded triple, and then applies sameTerm to the two variables, does it return true?

[2021-05-27 21:03] afs commented on #174
The experience with reification and multiple triples has a long history. It is not a new concern.

Any proposal needs to reflect the issues that arise (number of triples; multiple joins; definition when incomplete collections of triples are encountered) or it will suffer in the same way.

In annotation syntax, the expansion is not linked, just like `:s :p :o1, :o2 .`

In your proposal, and like re

[2021-05-27 21:54] TallTed commented on #170
@lisp -- Could you rephrase?  Not least, could you include the `ASK` query about which you're asking whether it returns `true`?  Proper capitalization and punctuation of your sentence(s?) would help a lot in parsing, too.

[2021-05-27 22:03] TallTed commented on #170
How orthogonal?

With the `<< >>` syntax, I can assert --
[code]
-- in which *I am not asserting* `:Moon :madeOf :cheeseGreen`.  The `<< >>` notation gives me referential opacity.

With the `{| |}` syntax, I can say --
[code]
-- in which _I simultaneously assert_ that `:Moon :madeOf :cheeseGreen`.  The `{| |}` notation gives me referential invisibility.

[2021-05-27 23:34] rat10 commented on #174
It was certainly not my idea that the explainable AI use case gets all the syntactic sugar while the much more main stream use case of annotating triple occurrences has to be modeled with 2 to 3 extra triples. That triple count would be reduced (at least on the surface) with my proposal.

I'm not overly concerned about that. I assume that any triple that is lost in transmission is a loss with hard

[2021-05-28 07:10] pchampin opened #175 "add ref to https://www.w3.org/TR/dx-prof-conneg/ (with warning about SPARQL protocol)"
per https://w3c.github.io/rdf-star/Minutes/2021-05-21.html#a03

[2021-05-28 08:29] afs commented on #174
Annotation syntax can be used for the original motivating use case for the syntax,

[2021-05-28 10:03] rat10 commented on #174
It would be helpful if you provided a little more background to your comments, answered a little more of my questions and in general weren't so extremely terse and difficult to parse.

I can only guess what your comment refers to as  "the original motivating use case for the syntax". When the syntax was proposed the proposed semantics weren't an issue, syntactic considerations were. Those are not

[2021-05-28 13:24] afs commented on #174
I can not reconcile that statement with your proposal which is a different expansion and also removes the possibility annotation syntax when `rdfx:semantics  rdfx:tripleTermsTransparent ;` is not intended.

If you change the expansion, it is _not_ the same syntactic sugar.

[2021-06-01 10:08] pchampin commented on #166
Closing, as PR #173 addresses this issue.

[2021-06-01 10:08] #166 closed

[2021-06-02 09:26] pchampin commented on #174
This was discussed during our last call: https://w3c.github.io/rdf-star/Minutes/2021-05-28.html#x214

[2021-06-02 09:28] #49 closed

[2021-06-03 14:03] pchampin commented on #175
closing, as the discussion will now occur in PR #177.

[2021-06-03 14:03] #175 closed

[2021-06-04 13:11] rat10 commented on #174
@afs

I'm really not sure I get your point. To clarify I see the following differences (listed verbosely to help understanding):
- my proposal expands to a referentially transparent occurrence, not an opaque triple
- it expands not to 2 but 4 statements
- there is no abbreviated syntax for the referentially opaque use case but it can still be modelled embedded triples.

Is that all or did I miss s

[2021-06-04 15:10] #121 closed

[2021-06-08 21:19] afs opened #184 "Explain "embedded triple" as a "quoted triple"."
It may help to explain `<<:s :p :o>>` as a quoted triple.

Embedded is motivated by the structural use of `<<...>>` terms as components of triples.

Quoted triple is motivated by being a reference to a triple without it being asserted.

This is in line with the use in "[1.2 Overview](https://w3c.github.io/rdf-star/cg-spec/editors_draft.html#overview)" _etc._, and use in "[2.1 Triples and occurrenc

[2021-06-10 06:21] pchampin opened #186 "raise issue at W3C about single-person contact for IANA registration"
That issue was pointed out during [our last call](https://w3c.github.io/rdf-star/Minutes/2021-06-04.html#x152).

[2021-06-11 07:56] pchampin commented on #186
Actually, this is a not necessary.
IANA distinguishes the "contact" person from the "change controller", which is usually a SBO, in our case W3C.
See for example Turtle:
https://www.iana.org/assignments/media-types/text/turtle

[2021-06-11 15:16] #186 closed

[2021-06-12 11:11] Tpt opened #187 "TriG-star: plain triples starting with an embedded triple are not supported"
The SPARQL-star testsuite provides TriG-star files like:

[code]

However, these files does not seem to be supported by the current TriG-star grammar.

Indeed, the root rules or Trig grammar are:
[code]
and none of them produces something like `embTriple predicateObjectList '.'` if we apply the TriG-star modification.

Here is a sample test case that does not pass if TriG-star grammar is implement

[2021-06-12 14:16] pchampin commented on #187
Thanks @Tpt for spotting that.

Either we integrate your test-case, or maybe we could do for Trig and Turtle was was alreadt done for Turtle and N-Triples, namely to duplicate the tests of the "subset" language into the testsuite of the "superset" language... But that's a lot a redundancy to maintain if we do that :-/

The production rule `[3g-star]` that you propose unfortunately does not work, a

[2021-06-12 15:48] gkellogg commented on #187
The TriG-star tests already include many Turtle-star tests, including https://w3c.github.io/rdf-star/cg-spec/editors_draft.html#trig-star

[code]

Also, the [TriG-star section](https://w3c.github.io/rdf-star/cg-spec/editors_draft.html#trig-star) does say that it uses the Turtle-star productions and does not reference a complete (or partial) TriG grammar directly (@Tpt where did you take your gramm

[2021-06-12 17:23] Tpt commented on #187
Yes, indeed. Your grammar looks much better. Thank you!

I am using the [RDF 1.1 TriG](https://www.w3.org/TR/trig/#grammar-ebnf) grammar on which I applied the [Turtle-star grammar modification](https://w3c.github.io/rdf-star/cg-spec/editors_draft.html#turtle-star-grammar). I assumed it was what the working draft was suggesting as the expected "TriG-star" grammar.

Yes, it would be amazing! There

[2021-06-12 18:38] gkellogg commented on #187
The example I referenced above has an embedded triple in the subject position in the default graph. If you're referring to the annotation syntax, https://w3c.github.io/rdf-star/tests/trig/syntax/#turtle-star-ann-1 is in the default graph.

[code]

But, the one mentioned in https://github.com/w3c/rdf-star/issues/187#issuecomment-860071126 seems to match your test case.

[2021-06-13 04:31] Tpt commented on #187
Thank you! I did not thought about using Turtle-star tests to test our TriG-star parser. Sorry for the noise.

[2021-06-18 11:38] pchampin commented on #168
Done at https://github.com/w3c/rdf-star-wg-charter

[2021-06-18 15:08] #168 closed

[2021-06-19 18:31] afs commented on #123
See also  shexSpec/shex#107 .

[2021-06-28 10:19] djebR commented on #132
One example I can think of is to assert the appartenance of an embedded triple to the context (the World) it was declared in.
`<<ex:Apple ex:hasColor ex:Red>> munc:inWorld ex:World_1 {| munc:hasMeta [a munc:Uncertainty; ... ] |}`

[2021-07-01 16:26] #187 closed

[2021-07-01 16:34] pchampin commented on #23
A long time ago, I flagged this discussion as relevant to `semantics`, but in retrospect, it seems to me that its is more about implementations. Semantically, this method raises problems as long as blank nodes are involved, because the blank node *label* that will be put in the IRI is irrelevant for the semantics (actually, it is even irrelevant for the abstract syntax). Of course, implementations

[2021-07-03 22:46] gkellogg commented on #184
My scan of the spec indicates that, for the most part, simply changing "embedded" to "quoted" throughout the document works pretty well. The grammar rule names are more complicated.

* `embTriple` => `quotedTriple` – seems fair enough.
* `embSubject` => `quotedTripleSubject` – a bit long winded, but better than `quotedSubject IMO. We could consider something shorter such as `quotedTripleS`, or `QT

[2021-07-04 11:16] afs commented on #184
`find <root of tests> -type f ! -name manifest\* ! -name \*.html | xargs grep -i -l embedd` => one file : sparql/eval/data-order-kind.ttl

Manifests:

All use of "embedded" is in mf:name except for the semantics suite. The semantics suite has some URis with "embedded" in them and some text in rdfs:comment.

[2021-07-06 13:13] afs commented on #184
At the telecon, there was a desire for more examples for quoted triples.

Here is some non-normative material in addition to #192 and the updates for the formal definitions in [Section 2](https://w3c.github.io/rdf-star/cg-spec/2021-07-01.html#concepts) and https://w3c.github.io/rdf-star/cg-spec/2021-07-01.html#dfn-embedded.

This may fit as a new section 2.1 and move the [current section 2.1 "Trip

[2021-07-06 16:28] gkellogg commented on #184
Maybe "Turtle-star and related syntaxes", since it also includes N-Quads-star and TriG-star.

[2021-07-07 10:02] afs opened #193 "Actions for using "quoted triple" terminology"
Tasks for #184 ("quoted triple")

- [x] Update text and links in the editors draft
- [x] Update test suite, mainly `mf:name`
- [x] Add new material for non-normative explanation and examples.

[2021-07-07 10:03] afs commented on #193
Status: 2021-07-07:

* PR #192 covers translating from "embedded" to "quoted".
* [Comment on #184](https://github.com/w3c/rdf-star/issues/184#issuecomment-873568469) identifies the test changes needed.
* [Comment on #184](https://github.com/w3c/rdf-star/issues/184#issuecomment-874748516) drafts some explanatory text and examples.

[2021-07-07 15:33] gkellogg commented on #193
PR #192 also makes the test changes.

[2021-07-07 18:25] afs commented on #122
From : @pchampin
https://lists.w3.org/Archives/Public/public-rdf-star/2021Jul/0006.html

[2021-07-07 23:25] TallTed commented on #184
only a syntactic short cut and the RDF-star abstract data model does not
distinguished how the triples were written.

Minor typos -- add a comma, remove an `ed` --

only a syntactic short cut, and the RDF-star abstract data model does not
distinguish how the triples were written.

(Why not a PR where such nits are easier to flag and address?)

[2021-07-08 09:02] afs commented on #184
@TallTed - This is focusing on the content. Are we agreed on the content and intent here?

There is a separate PR in progress for other changes related to quoted triples. Two separate PRs in progress around the same area is not good.

[2021-07-08 15:02] TallTed commented on #184
@afs --

Issue text is a terrible place to crowd-source/massage/collaborate on content.  Github collaboration features include a wiki space (which would need to be activated for this repo), and draft PRs (which are not horribly difficult to rebase), among other tools.

That said --

Overall, this content looks good to me.  Modulo the missing comma and incorrect verb tense I flagged above.  I would

[2021-07-08 16:17] gkellogg commented on #184
The text needs to be added to PR #192; if @afs doesn't get to it, I'll take a stab at it. Typically, ReSpec formatting dictates some minor changes, but I take @TallTed's points.

[2021-07-08 17:43] pchampin commented on #184
@gkellogg where do you want to insert the text of the issue? For me, the text was meant to reach consensus on what should be in this PR. But it summarizes things that are already contained (or referenced) in the spec already.

[2021-07-08 17:49] afs commented on #184
I take @TallTed's point about intro. For the examples, too much text before also has disadvantages - need to find a balance. Now we have the target examples, that's easier.

The text needs some work still to fit in (e.g I've realised we are 75% defining "asserted" - while it appears in RDF-concepts, as referenced, it isn't really definitional and we're relying on it so worth investigating promotin

[2021-07-08 18:11] VladimirAlexiev commented on #122
Have you looked at https://www.w3.org/wiki/PropertyReificationVocabulary,  http://smiy.sourceforge.net/prv/spec/propertyreification.html for ways to capture representation patterns?

[2021-07-08 18:23] gkellogg commented on #184
yes, ready otherwise. we can change to “ready for review after”.

I think the finalized PR is the best place to reach consensus. But, the editor’s draft, sort of by definition, does not necessarily represent a group CI census, just the editor’s best efforts at expressing their understanding of group direction.

[2021-07-08 21:32] afs commented on #122
@VladimirAlexiev - how do you see that applying to SHACL?

[2021-07-09 07:01] VladimirAlexiev commented on #122
Some sort of translation of PRV to SHACL?

[2021-07-09 16:03] TallTed commented on #122
@VladimirAlexiev -- Perhaps you could provide a bit more detail of what you're hinting at?

[2021-07-11 15:00] akuckartz opened #194 "TopBraid EDG missing from list of implementations"
https://www.topquadrant.com/rdf-star/ is not contained in this list: https://w3c.github.io/rdf-star/implementations.html

[2021-07-11 15:03] akuckartz commented on #194
@HolgerKnublauch

[2021-07-11 22:06] afs commented on #194
Currently, the group is seeking implementation reports: https://w3c.github.io/rdf-star/reports/index.html

[2021-07-11 23:31] HolgerKnublauch commented on #194
Our support is limited to a variant of Turtle-star and we represent triple nodes with special URIs. No SPARQL support. What we have is pragmatically working well for customers but we are awaiting a more stable/final spec before investing more resources into it.

If that's enough for the list, please feel free to add a row with a link to https://www.topquadrant.com/rdf-star/ for documentation. We a

[2021-07-16 15:08] #193 closed

[2021-07-16 16:08] pchampin opened #195 "find out what are the limits of "new features" in the new W3C process"
This was discussed during today's call: https://w3c.github.io/rdf-star/Minutes/2021-07-16.html#a01

[2021-07-16 16:12] pchampin opened #196 "ora to check the text about quoted triples"
this was discussed during today's call: https://w3c.github.io/rdf-star/Minutes/2021-07-16.html#t03
@rdfguy

[2021-07-17 08:36] ericprud commented on #195
Are y'all interested in the "evergreen" process? If so, it's basically that you have a bit more work to do on patent commitments before CR (iirc), but you can then cycle for years in CR and use that as your evergreen spec.

[2021-07-17 17:40] afs commented on #195
Personal comments.

The charter https://github.com/w3c/rdf-star-wg-charter/ is not for a wholesale update of RDF. It is specific to RDF-star, and could also deal with some errata processing because the documents are "open". The old-style WG's ended when their REC's got published. There was no opportunity to alter documents even for minor matters.

As a community, we have been quite diligent and we

[2021-07-17 18:03] gkellogg commented on #195
For my part, I'm concerned that creating such a narrow focus will help miss a rare opportunity to do some seriously needed updates to the related specs, and prevent a mechanism to maintain them into the future. Sure, having a narrow focus for the charter will help its chances at approval, and widening the charter, particularly with evergreen options, leaves open the possibility of allowing too muc

[2021-07-18 11:34] gatemezing opened #197 "Add more metadata in the tests/manifest.ttl"
I would love to see more metadata in the [manifest.ttl](tests/manifest.ttl)  file. The minimum ones would be the date of creation (`dct:issued`), last modification (`dct:modified`), version if possible and the license (`dct:license`) info attached with a property.

[2021-07-18 11:49] gatemezing commented on #164
They are kind of all related according to their semantics in RDFS.
[code]

[2021-07-18 12:14] afs commented on #197
License is in the usual place: top of the repo : https://github.com/w3c/rdf-star/blob/main/LICENSE.md - also in the top of the manifest.ttl as a comment.

Whatever else, please don't remove these because this is the usual practice for open source software.

[2021-07-18 13:15] gatemezing commented on #197
Sure @afs ! I'll propose something as a PR with the comments on top of the file

[2021-07-18 15:12] afs commented on #197
Great! There will be details to discuss.

[2021-07-19 14:37] TallTed commented on #164
Yes, they are related.  My point is that the more specific predicates and collective objects are more suited to communicating the specific differences/qualities of an RDF-star/SPARQL-star server vs a "typical" RDF/SPARQL server than the very granular `sd:feature`.  `sd:feature` should not be used with, for instance, `sd:SPARQLstarQuery`...

[2021-07-20 09:51] gatemezing commented on #197
Perfect!! It's a good starting point to reach a consensus :)

[2021-07-20 10:24] gatemezing commented on #164
Would it be also worth it to also see the conformance in a dataset available on the Web in general, by using for e.g.,  `dcat:Dataset` ? The [dctat vocabulary ](https://www.w3.org/TR/vocab-dcat-3/#Class:Dataset) defines the notion of dcat:conformsTo and [dcterms:Standard](http://purl.org/dc/terms/Standard). This could help publishers describing their assets with that they dump dataset `dcterms:con

[2021-07-20 16:01] TallTed commented on #164
I have no objection to recommending `dcterms:conformsTo` be used as part of the description of any RDF-star (or RDF) serializations.  It might be helpful to describe RDF 1.0 vs 1.1 datasets.  That said, I doubt many publishers will add it to descriptions of existing (nor probably future) RDF serializations.  It's *slightly* more likely in serializations where the format allows for inline comments,

[2021-07-20 18:57] TallTed commented on #197
Very important to codefence all `@`things here on github, else people like `@prefix` get pinged with updates about which they do not care.

I also recommend switching from `@prefix x: <http://example.com/ex/> .` notation to `PREFIX x: <http://example.com/ex/>`, partly but not only because it helps avoid that `@`handle problem.

[2021-08-05 09:40] #184 closed

[2021-08-11 06:47] VladimirAlexiev opened #199 "describe reification mechanisms declaratively (PRV plus)"
Spun off from #122 (cc @hartig @afs @TallTed @pchampin @HolgerKnublauch):

@HolgerKnublauch on [dash:reifiableBy](https://datashapes.org/reification.html#reifiableBy) says:

So the idea is for `dash:reifiableBy` to specify constraints on triple annotations, but allow the reification and annotation to be implemented by different lower-level mechanisms (though I believe the "binding" of these mechan

[2021-08-11 08:23] VladimirAlexiev opened #200 "rdf-star and reasoning"
As a semantic developer who uses rdf-star
- I want some reasoning to be standardized
- So that annotations on some triples are carried over to annotations on inferred triples,
- So I can have "consistency" (and peace of mind)

As a semantic repository vendor
- I want some reasoning to be standardized
- So we can implement it for the benefit of our customers
- Who already ask what reasoning can be

[2021-08-11 09:56] afs commented on #199
It would be good to see such document as a separate document to the one this group is finishing up.

That can be done in RDF-DEV independently of the RDF-star work and could start now.

One area to expand upon is that RDF-star is not RDF reification.
You can RDF reify a statement multiple times with different triples attached.

RDF-star is lower level - it provides the building block and relies on

[2021-08-11 11:12] VladimirAlexiev commented on #199
https://douroucouli.wordpress.com/2020/09/11/edge-properties-part-1-reification/ by @cmungall has more examples of reification mechanisms, including great advice about them. In particular:
- OWL Annotation vs RDF Reification, and how the two don't work together with current tooling.

@afs

I think rdf-star is (or can be) higher level because it captures a "reification API" that could admit multipl

[2021-08-11 11:19] josd commented on #200
Indeed and it is good to be explicit for instance using N3 rules.
I tried things a little bit at https://github.com/josd/eye/blob/master/reasoning/rdf-star-reasoning/test.n3
and get the following answers https://github.com/josd/eye/blob/master/reasoning/rdf-star-reasoning/answer.n3

[2021-08-11 11:33] afs commented on #199
I can't reconcile "reification API" with RDF-star because RDF-star has defined syntax and semantics.

Anything that encapsulates or describes multiple different approaches will expose or allow for differences, because each has unique features and benefits, and some are focused on specific capabilities, not general use.

[2021-08-11 12:00] afs commented on #199
(I am not W3C)

What you need is people to be active, and a shared goal.

An issue here may get discussion (and you've pinged those people). To go further than discussion and have an effect needs a bit more.

You could start a CG at W3C. Anyone can propose one and if it gets 5 supporters (individuals, not companies), it gets created -- https://www.w3.org/community/groups/propose_cg/ -- there are n

[2021-08-11 18:22] TallTed commented on #199
It seems that these prefixes should differ, else you'd have used one bullet and said "(`pq:Pnnn` is used when the prop is used as a qualifier or in a reference)".

[2021-08-13 09:42] #194 closed

[2021-08-23 12:52] VladimirAlexiev commented on #200
@afs

I agree.
This issue is posted just to gather feedback and use cases on reasoning.

rdf-star was motivated as a response to LPG.
But one of the most important benefits of RDF compared to LPG is reasoning (the others are ontologies/shapes and URIs as global identifiers).
If a client asks "what reasoning can be used with rdf-star" and we can only answer "none" or "not standardized", then we los

[2021-08-23 12:59] VladimirAlexiev commented on #200
About: https://w3c.github.io/rdf-star/cg-spec/2021-07-01.html#ref-opacity-owl-entailment:
it gets even worse because both of these are false:
[code]

[2021-08-23 13:57] VladimirAlexiev commented on #199
@afs Your remarks are well received! You're basically saying "this is out of scope for rdf-star" and I guess I agree. But I couldn't start a CG to work on this, maybe others can lead such work...

@TallTed thanks, fixed above. Here's the WD "meta-ontology" (how it lays out its whole data):

![WDQ-ontology](https://user-images.githubusercontent.com/536250/130459505-d2b660b5-8b2d-460d-a73e-42a8d345f

[2021-08-23 16:10] afs commented on #200
That's an encoding problem?

[2021-08-23 16:25] hartig commented on #200
I agree that it would be good to allow users to have reasoning with RDF-star for the cases in which it makes sense to the users. To this end, it would be important to have something that enables the users to make such cases explicit. Take, for instance, your first example:

You may probably not want to have that as a general rule (for the same reasons as to why the current semantics of RDF-star tr

[2021-09-02 09:55] pchampin commented on #199
Thanks @VladimirAlexiev for raising this. Updating [PRV](http://smiy.sourceforge.net/prv/spec/propertyreification.html) and/or [TR/swbp-n-aryRelations](https://www.w3.org/TR/swbp-n-aryRelations/) looks indeed like a useful thing to do.

I also agree that this is kind of out-of-scope for the RDF-star "subgroup". Like @afs, I don't see RDF-star as an API that could unify the various reification desi

[2021-09-03 16:20] pchampin commented on #195
This was discussed during today's call: https://w3c.github.io/rdf-star/Minutes/2021-09-03.html#x052

[2021-09-03 16:22] pchampin opened #201 "notify semantic.web@w3.org about https://github.com/w3c/EasierRDF/issues/88"
as decided during today's call: https://w3c.github.io/rdf-star/Minutes/2021-09-03.html#a01

[2021-09-03 16:25] pchampin opened #202 "write a part on "per-property semantics" in the report"
as decided during today's call: https://w3c.github.io/rdf-star/Minutes/2021-09-03.html#a02
@pchampin to help

the idea is to document somewhere in the report the scenario described in https://github.com/w3c/rdf-star/issues/200#issuecomment-903925393

[2021-09-03 16:27] pchampin opened #203 "draft an introduction paragraph to show the interconnection between the section"
as decided during today's call: https://w3c.github.io/rdf-star/Minutes/2021-09-03.html#a03

by showing the (non-linear) interconnections between the different parts, the goal is to make the order of the sections less important

[2021-09-03 16:40] pchampin commented on #203
done: https://www.w3.org/mid/c356f244-5cba-6c14-ff74-f09d1005e721@w3.org

[2021-09-03 16:40] pchampin commented on #201
done: https://www.w3.org/mid/c356f244-5cba-6c14-ff74-f09d1005e721@w3.org

[2021-09-17 14:15] rdfguy commented on #196
I have been thinking of some suitable language that would further illustrate the distinction between asserted and quoted triples. Here is what I have come up with so far.

[2021-09-17 14:43] pchampin commented on #196
Indeed, which might not be the majority of our readership...

Also, I am not entirely convinced by this comparison.
In lisp, you have (and you need) an explicit quoting operator, because otherwise, expressions get evaluated *wherever they occur*.
In RDF-star, the asserted/quoted distinction is determined by the context of use, and only by it. As if, in LISP, only the outermost parenthesis were eva

[2021-09-17 14:58] rdfguy commented on #196
In RDF-star << >> is the “quoting operator”. If you don’t see that, the triple is asserted.

Ora

From: Pierre-Antoine Champin ***@***.***>
Reply-To: w3c/rdf-star ***@***.***>
Date: Friday, September 17, 2021 at 10:44 AM
To: w3c/rdf-star ***@***.***>
Cc: "Lassila, Ora" ***@***.***>, Mention ***@***.***>
Subject: Re: [w3c/rdf-star] ora to check the text about quoted triples (#196)

Obviously this w

[2021-09-17 15:09] #195 closed

[2021-09-17 15:32] #201 closed

[2021-09-17 16:48] pchampin commented on #196
this was discussed during today's call: https://w3c.github.io/rdf-star/Minutes/2021-09-17.html#x049
Action on @rdfguy to turn the text above into a PR.

[2021-09-17 16:50] pchampin opened #207 "review issues and propose to tag 'later' all but those necessary to finalize report"
assigned duting today's call: https://w3c.github.io/rdf-star/Minutes/2021-09-17.html#a02

[2021-09-20 12:51] afs opened #208 "Recording security attributes on triples."
As an Enterprise Data Architect,

I want to publish RDF data with security attributes labelling some of the data elements

so that security attributes in the data can be applied correctly across multiple systems and services.

The requirement is to be able to identify individual elements of the data. At the finest granularity, triples.

The cooperating systems provide data-security policies based

[2021-09-22 07:44] hartig commented on #200
PR #209 provides a proposal to support selective referential transparency, which can be a basis for the reasoning capabilities discussed above.

[2021-09-22 07:49] hartig commented on #170
PR #209 provides a proposal how selective referential transparency can be supported on top of the RDF-star semantics (by which referential opacity is the default).

[2021-09-24 09:58] rat10 commented on #169
As [suggested](https://github.com/w3c/rdf-star/pull/209#issuecomment-925638239) by @hartig I'm moving the following discussion here: in #209 @hartig introduces `a concrete proposal how users can indicate that a property is a so-called transparency-enforcing property (i.e., quoted triples are meant to be referentially transparent when used in nested triples with such a property; see example in the

[2021-09-25 08:17] hartig commented on #169
@rat10 when carrying over your comment from PR #209 (i.e., https://github.com/w3c/rdf-star/pull/209#issuecomment-926141392) to here, you forgot to include the proposal to extend the vocabulary with the following statement, which I agree would be a natural thing to state.

[code]

However, one thing that is still missing in your proposal is a definition of the semantics of the `:occurrenceOf` prope

[2021-09-25 11:40] rat10 commented on #169
I didn't forget but found it premature. My first goal was to establish if and how individual occurrences can be declared as referentially transparent. We seem to agree on a mechanism to achieve that. Now the fine tuning begins.
The term occurrence is used in RDF to refer to a referentially transparent statement as described by the standard reification vocabulary. As this IMO is also a plausible se

[2021-09-27 07:52] hartig commented on #169
Can you make a concrete proposal for these definitions?

[2021-09-30 15:44] pchampin commented on #3
I think we can reopen this and make a decision. Since the spec is mostly a list of "patches" on existing specs, I think we can defer to the conformance sections of the original specs. I think this goes without saying and does not even require any text in the 'Conformance' section of our report, but I may be convinced otherwise.

[2021-09-30 16:06] pchampin commented on #104
I propose to defer this to the future WG (which will have, anyway, to update each concerned grammar accordingly)

[2021-09-30 16:38] pchampin commented on #160
I do believe that this issue is actually not specific to RDF/XML. Regardless of the concrete syntax, one might be interested to "convert" an RDF graph using standard reification. @JervenBolleman would you agree?

Since reification is referentially transparent and allows multiple occurrences of the same statement, such a solution would rely on a standard vocabulary for occurrences (#169) and transp

[2021-09-30 16:43] pchampin commented on #169
FWIW, I would be in favor of leaving the semantics of `:occurenceOf` unspecified (I can't think of any semantic constraint that should be imposed on them).

I find the naming `:quoteOf` a little odd, since `_:x :quoteOf <<:s :p :o>>` would mean "_:x is the quote of a quoted triple"...

I don't mind defining a transparency-enabling version of `:occurenceOf`, which I would propose to call `:statingO

[2021-09-30 16:51] afs commented on #3
Turtle and SPARQL have conformance as well -  sentence referring to the tests.

We should say something about the test suite because the RDF-star doc is "Concepts" and "Turtle-star" and "SPARQL-star". It is necessary so that there is a some stated conditions "supporting RDF-star". i.e.if some system uses the name "RDF-star" then basic level of requirements/expectation. Or anything is "RDF-star".

[2021-10-01 07:04] pchampin commented on #170
I propose the following course of action:
- if there is a consensus that #209 sufficiently addresses this issue, we close it
- otherwise, we mark it as `later`

[2021-10-01 09:53] rat10 commented on #169
I find the property relatively useless if its semantics had such a gaping hole and it would be a shame to waste the term on it.

Yes, that's right. The naming is not yet perfect. <<:s :p :o>> is a quoted triple and the property name `:quoteOf` doesn't capture the transformation from triple to occurrence.

The term `stating` does in my intuition have the connotation of asserting (as in asserted vs

[2021-10-01 12:01] pchampin commented on #169
About "stating"... I agree that it might seem to imply some form of assertion, which of course is not intended. Note however that the same could be argued about `rdf:type rdf:Statement` in standard reification -- and that's, I guess, the reason for Dan using that verb in the first place.

I could leave with "occurence" (ref-transparent) and "citation" (ref-opaque).

I would prefer, however, to hav

[2021-10-01 12:21] rat10 commented on #169
I assume you meant "live" ;-)

Good point. But that doesn't make the standard (non-annotation) syntax obsolete. What about having them both?

[2021-10-01 12:39] pchampin commented on #169
yes, I meant "live". I'm not leaving anywhere :-)

of course not

Of course, defining an `owl:inverseOf` of `rdf-star:hasOccurrence` and friends is alwats possible, if we don't mind having a larger vocabulary with some redundancy. My point was: if we keep only one direction, there is a practical argument for keeping that one.

cf. [my proposal above](https://github.com/w3c/rdf-star/issues/169#issu

[2021-10-01 12:47] rat10 commented on #169
Maybe I'm missing something but IIUC your proposal for a property optimized for annotation syntax property only works when the referent to the occurrence is defined via one sole property. Therefor if that was to be an occurrence the definition would be either incomplete or could refer to the local graph.

Thinking of it: why not define the annotation syntax as refering to the referentially transpa

[2021-10-01 12:47] hartig commented on #169
Regarding the following example:

While I agree that the property should be defined in the direction such that it can be used with the annotation syntax, I am highly confused about the example per se. My interpretation of this snippet of Turtle-star is that the triple (:lizTaylor, :marriedTo, :richardBurton) has two occurrences where one of them is in the year 1964 and the other one is in the year

[2021-10-01 13:51] rat10 commented on #169
I'm AFK right now, so just trying to clear up confusion but taking the risk that I may well create more....

I think you are correct with your observation wrt to PAs use of the :in property and I glossed over that as I thought it's an obvious glitch. If this use of :in was indeed meant to refer to the :in as defined alongside :occurrenceOf - if it is not meant to refer to ex:in but rdf-star:in so

[2021-10-01 14:02] hartig commented on #169
But shouldn't such an `ex:during` property be a property of the quoted triple rather than of the occurrence of the triple? (and I am assuming here that `ex:during` can be a TEP)

[2021-10-01 14:43] pchampin commented on #169
"In" was a poor choice of term, because it seems to be part of the locution "occurrence in ..." , which was not my intention. It was not at all related to `rdf-star:inGraph` or anything like that.

Another source of confusion is that I was using `hasOccurrence` as a TEP here, as suggested by @rat10 above, and contrarily to my original use of it.

Consider this new example, which hopefully is clear

[2021-10-01 15:13] #202 closed

[2021-10-01 15:14] #203 closed

[2021-10-01 16:02] ericprud commented on #160
None of the other syntaxes (Turtle, trig...) gave you a way to make a statement and gave you a way to annotate it (the `rdf:ID="stmt"` above). The orig RDF/XML syntax implies a connection between the triple and its reification.
Was RDF/XML was decades ahead of its time?

Bub none of this utility survived the expression as triples 'cause triples aren't property graphs. Specifically, mere triples ca

[2021-10-01 16:34] hartig commented on #169
But isn't the (stated/claimed) fact of "Liz Taylor being married to Richard Burton" actually be captured by the triple (:lizTaylor, :marriedTo, :richardBurton)? I have the suspicion that to you, @pchampin, and @rat10 have a different understanding of what an "occurrence" is (or, maybe it's just me who doesn't get it ;)  It seems to me that your understanding is about occurrences of relationships o

[2021-10-01 16:46] pchampin commented on #3
this was discussed during today's meeting: https://w3c.github.io/rdf-star/Minutes/2021-10-01.html#t05

[2021-10-01 16:48] pchampin opened #211 "improve figure in §1.3"
make the center bubble more salient and the bold keywords less salient
as decided during today's meeting: https://w3c.github.io/rdf-star/Minutes/2021-10-01.html#a01

[2021-10-01 16:49] pchampin opened #212 "move the TEP entailment regime to §7 and extend it to the rest of the vocabulary"
as decided during today's meeting: https://w3c.github.io/rdf-star/Minutes/2021-10-01.html#a02

[2021-10-01 17:14] rat10 commented on #169
I thought we have a common understanding of what an occurrence is and @hartig you are describing my understanding correctly. That is also the way in which the RDF specs use the term and the way it was used when we discussed this terminology with @pfps last year. I'm also puzzled by @pchampin's concerns.
However it was a hectic exchange and maybe we got a little ahaed of ourselves today. I'll have

[2021-10-01 17:18] pchampin commented on #169
My initial understanding of "occurence" was indeed: "the occurrence of a triple in an RDF source (turtle file, Triple store...)".  As such, "hasOccurence" and "occurenceOf" would be non-TEPs, because an occurrence of ":superman :can :fly" must be distinguished from an occurrence of ":clark :can :fly".

In the [comment above (near the end)](https://github.com/w3c/rdf-star/issues/169#issuecomment-93

[2021-10-01 19:06] TallTed commented on #169
RDF allows for "Schema Last," but problems arise when considering example data without considering what its schema might be. At a minimum, some care must be taken about entity types, relationship types, and relationship values.

A wedding is an occurrence, an event, with a datestamp, if not a timestamp.  Of course, it also has a duration, but this is typically measured in hours if not minutes.  Li

[2021-10-05 08:23] pchampin commented on #160
FTR, a version of the RDF/XML example above that is accepted by the W3C RDF validator (replacing the 2nd `rdf:ID` with an equivalent `rdf:about`):
[code]

[2021-10-05 08:48] pchampin commented on #160
@ericprud

That's true, and that maybe why standard reification is more appealing to RDF/XML users than to Turtle users. But we don't want to change the semantics of RDF/XML, do we? And if we don't, then "an rdf-star interpretation of reifying shorthand in RDF/XML" (as suggested by @JervenBolleman) will be handled at the triple level, so independently of the concrete syntax... At least that's how

[2021-10-05 11:37] rat10 commented on #169
It seems to me that you introduce an aspect that we have so far not been discussing at all: the long known problem of identification semantics in RDF i.e. disambiguating if a URI is used to indicate a (web) resource or denote what that (web) resource refers to, a.k.a. "social meaning", "the identity crisis of the semantic web", httpRange-13, Cool URIs etc. I would think that that problem is out of

[2021-10-05 14:34] TallTed commented on #169
Addressing nothing else here --

I agree with your conclusion, `:inSource`.  The reason is that `:inGraph` feels restrictive and implies a Named Graph, which may or may not be in play, while `:inSource` is clearly more flexible and allows for any RDF Source.  Whether or not this predicate propagates beyond this discussion, `:inSource` will be applicable to more usage scenarios.

[2021-10-05 15:30] pchampin commented on #169
Ok, fine by me. That corresponds to option 2 at the end of [my comment above](https://github.com/w3c/rdf-star/issues/169#issuecomment-932292328). So many different things can be considered an "transparent occurrence" of a triple (events, state of beings, statings...).

But that contradicts your proposal to automatically include an `:inSource` property when expanding the annotation syntax, because

[2021-10-05 15:36] pchampin commented on #169
@TallTed

I agree that `:inSource` is better, but for a very different reason ;-) `:inGraph` does not refer, for me, to [Named Graph](https://www.w3.org/TR/rdf11-concepts/#dfn-named-graph), but to [RDF graph](https://www.w3.org/TR/rdf11-concepts/#dfn-rdf-graph), which is a very abstract thing that we do not interact with directly. We interact with, for example, Turtle files or RDF/XML HTTP resourc

[2021-10-05 17:21] TallTed commented on #169
@rat10 and others --

Note that the second marriage of Liz & Richard ended the year after it began, so the examples above should have an `:until "1976"^^xsd:gYear`, e,g. --
[code]

[2021-10-06 10:44] rat10 commented on #169
You are just repeating your argument. Would you please comment on the first paragraph of my answer, i.e. that the problem you point out is well known under various monikers like "identity crisis", "httpRange-14" etc and that I consider it out of scope. Solutions have been proposed i.e. in [CoolURIs](https://www.w3.org/TR/cooluris/) and such solutions would be applicable to references to occurrence

[2021-10-07 07:02] pchampin commented on #169
I think it does.  Now, referring to RDF11-MT (https://www.w3.org/TR/rdf11-mt/#reification):

Can we agree that the marriage of two persons is not "a concrete realization of an RDF triple, such as a document in a surface syntax"? In which case my example above would be wrong. I agree that this could be fixed by adding yet another intermediary node (as [you proposed above](https://github.com/w3c/rdf

[2021-10-10 13:55] rat10 commented on #169
Your quote is not correct. Where you let it end with a full stop it does actually continue. The correct quote is:

```The subject of a reification is intended to refer to a concrete realization of an RDF triple, such as a document in a surface syntax, rather than a triple considered as an abstract object. ```

and from the last sub-sentence it is clear that the distinction the text wants to make i

[2021-10-13 19:47] rat10 commented on #169
Yeah, one has to be careful with quotes. Pulling them out of context or shortening them without proper indication, even changing punctuation, can lead to very misleading mis-representations.

[RDF 1.1 Semantics, D.1 Reification](https://www.w3.org/TR/rdf11-mt/#reification) confirms my reading, any other references to **syntax** that the spec makes notwithstanding:

```Reification is not a form of

[2021-10-14 08:50] #196 closed

[2021-10-16 06:33] ericprud commented on #160
I think a generic, triples-based translation would only leverage RDF/XML's syntactic (reification) constructs if it mapped:

[code]
to:
[code]
. Having your RDF library do that automatically could alter the graph when it wasn't the user's intention; your `rdf:star="true"` could capture such an intention. (I'm not really fussed about that alteration but more conservative guardians of the semantics

[2021-10-17 08:34] afs commented on #160
Like https://github.com/apache/jena/blob/main/jena-arq/src/main/java/org/apache/jena/system/RDFStar.java ?

[2021-10-17 09:24] ericprud commented on #160
going by the javadoc, exactly!

btw, I [PR](https://github.com/apache/jena/pull/1088)'d to propose new names for this no-longer-hypothetical operation: `RDFStar.encodeAsRDF` and `RDFStar.decodeFromRDF`.

[2021-10-29 12:49] pfps opened #219 "referential opacity"
There has been a lot of discussion in the CG on referential transparency / opacity and decisions made in this area that affect the behaviour of RDF*.

If a WG is going to go forward there should be re-examination of this issue.  However, the draft report pushes this important concept into the technical details of the semantics.

There should be discussion of the effects of the current semantics of

[2021-10-29 15:09] #211 closed, assigned to pchampin

[2021-10-29 15:29] pfps opened #220 "paring down the semantics"
I just had a thought.

What would happen if there were only three added triples in the mapping instead of six, mapping to the literal mappings of IRIs and literals but to the actual blank nodes.  Would any entailments change?  Would there be any (significant) change to SPARQL results?

[2021-10-29 20:15] TallTed commented on #199
@VladimirAlexiev -- I do wish the text in [the png above](https://github.com/w3c/rdf-star/issues/199#issuecomment-903796054), which has terrible font vs background contrast ratios, were presented as text instead of pixels.  I strongly advise replacing the png, or at least supplementing it, with codefenced text, whether it gets fancy syntax highlighting or not.  (Syntax highlighting color choices t

[2021-10-29 20:43] #104 closed

[2021-10-29 20:44] TallTed commented on #64
Based on past experience with others, and my own past activity, I think that is an expectation doomed to disappointment.

I think that incorporating the key decisions highlighted by @pfps (and any others that occur to us) especially in the introductory section of the CG report(s) *and* the WG output(s) is a good plan.

[2021-11-05 13:04] matentzn commented on #64
FWIW, going after the cursory readings of blog posts and initial docs, I assumed that embedded triples are unique, just because an LPG can have the same relation multiple times and I thought RDF-Star was supposed to bridge that gap. Just imagine a KG with the elements "user, clicks_on, button", it seems super odd that I cannot simply express multiple clicks (with different timestamps, clique-type,

[2021-11-10 08:10] pchampin commented on #220
I did think about it at the time, but came to the conclusion that it would not fly.

More precisely, we would like
[code]
to entail
[code]
(this is a natural extension of the [interpolation lemma](https://www.w3.org/TR/rdf11-mt/#dfn-interpolation) in standard RDF).

But if the unstar mapping kept only lexical representation of the terms of the quoted triple, `_:c` in the second graph would have to

[2021-11-10 08:29] pchampin commented on #64
I know that. My point was: we shouldn't be blamed (or blame ourselves) if other people are not doing the right thing.

That being said, I also agree that having a section in the intro, to debunk a few misconception (about uniqueness, and about referencial opacity as suggested in #219) would be valuable. Any PR would be welcome :)

[2021-11-10 10:01] #102 closed

[2021-11-10 10:02] #164 closed

[2021-11-10 10:02] pchampin commented on #212
addressed by #215

[2021-11-10 10:02] #212 closed

[2021-11-12 17:08] pchampin commented on #3
this was discussed during today's meeting: https://w3c.github.io/rdf-star/Minutes/2021-11-12.html#t03

[2021-11-12 17:10] pchampin commented on #64
this was discussed during today's meeting: https://w3c.github.io/rdf-star/Minutes/2021-11-12.html#t04

[2021-11-12 17:10] pchampin commented on #219
this was discussed during today's meeting: https://w3c.github.io/rdf-star/Minutes/2021-11-12.html#t04

[2021-11-12 17:12] pchampin opened #222 "suggest to Olaf and Bryan to update their paper on arXiv"
as discussed during today's meeting: https://w3c.github.io/rdf-star/Minutes/2021-11-12.html#a02
assignee: @rdfguy

[2021-11-17 09:24] afs commented on #3
It's not necessary to have more conformance but I think it is useful to say what a system that "supports RDF-star" means in some concrete behavioral terms.

In what way does a plain RDF 1.1 system "not support RDF-star"? It does not process the quoted triple syntax.

We could say something like:

- If a system has RDF input, then it accepts at least one RDF-star syntax as given by the test suite.

[2021-11-17 16:28] TallTed commented on #3
Rather than `accepts`, this should be `emits`, no?

[2021-11-17 17:17] afs commented on #3
Yes - fixed the original. Thanks.

[2021-12-02 17:48] pchampin commented on #197
I guess this can be closed, this #217 was merged?

[2021-12-03 16:14] #64 closed

[2021-12-03 16:14] #3 closed

[2021-12-03 17:10] pchampin commented on #220
@pfps are you ok with closing this issue? Of, if you are still not convinced, to defer it to the future WG (we are not really planning on changing the semantics at that point...)?

[2021-12-03 17:10] #207 closed

[2021-12-03 17:12] pchampin commented on #64
Closing as the discussion is continued on #225.

[2021-12-03 17:12] pchampin commented on #219
Closing as the discussion is continued on #225.

[2021-12-03 17:12] #219 closed

[2021-12-03 17:13] pfps commented on #220
Sure close.

[2021-12-03 17:13] #220 closed

[2021-12-03 17:26] pchampin commented on #222
This was discussed during today's call: https://w3c.github.io/rdf-star/Minutes/2021-12-03.html#t02

[2021-12-05 13:22] afs opened #229 "The TriG syntax tests deference to Turtle."
https://w3c.github.io/rdf-star/tests/trig/syntax/ is an old copy of the turtle tests.

[2021-12-06 18:24] afs commented on #229
Done with #230

[2021-12-06 18:24] #229 closed

[2021-12-06 19:10] TallTed commented on #229
Might be worth correcting this issue's title from `deference` to `dereference`

[2021-12-10 17:19] kidehen commented on #36
True, but you can't use literals (typed or untyped) as relation subjects in RDF -- as it is currently specified.

[2021-12-17 08:49] hartig commented on #222
Done! See: https://arxiv.org/abs/1406.3399

I have add a block of text in red color at the top of the document. The text says:

_This document has become obsolete. The ideas and formalizations in this document have been picked up and developed further by a task force of the RDF-DEV community group at the World Wide Web consortium (W3C). In this context, the approach has been renamed to RDF-star an

[2021-12-17 16:13] gkellogg opened #231 "Verify need to update implementation reports"
@gkellogg to Re-run EARL scripts on previously removed implementation reports (EYE and Jena) and report back on reasons for re-submission.

cc/ @afs @josd

[2021-12-17 16:14] #222 closed

[2021-12-17 18:54] gkellogg commented on #231
Running the earl-report tool independently on the old Jena and EYE reports, I get the following warnings, which prevent the report from completing.

Running `earl-report --format json --strict ./jena-report-2021-06-06.ttl`

[code]

Running `earl-report --format json --strict ./eye-earl.ttl`

[code]

In both cases, re-running the test suite to create a new earl submission should fix the problem. Th

[2021-12-17 18:59] josd commented on #231
PR https://github.com/w3c/rdf-star/pull/232 looks fine and also reflects the latest state.

[2021-12-18 12:45] afs opened #233 "Test report generator failure"
In an up-to-date repo, `bundle install` and `bundle exec rake` run fine.

But I tried to add a new EARL report `apache-jena.ttl` I get errors relating to `"http://champin.net/#pa"` which isn't in the file.
(draft [apache-jena.ttl.txt](https://github.com/w3c/rdf-star/files/7739236/apache-jena.ttl.txt) attached - with `.txt` added for GH).

How can I debug this?

_Update_: PR #235 works - the differ

[2021-12-18 16:44] gkellogg commented on #233
I saw this intermittently too, and I’ll look into it. Probably the simplest change to the CY script is to change it to `rake clean default` to ensure everything gets built dispite time stamps.

[2021-12-18 17:19] afs commented on #233
This has two part - timestamps and small changes of content. Might the small content changes be related to timestamps and cached build?

The "rake clean" should be good - it does not take very long to run.

(Feel free to close this issue)

[2021-12-18 19:17] gkellogg commented on #233
I would like to see why the failure is happening, even though we can work around it. If I find an issue I'll cross reference into earl_report.

[2021-12-20 01:02] #233 closed

[2022-01-06 19:29] pfps opened #239 "bad examples in RDF* document"
The current RDF* document has many examples that have the same problem that the seminal example has.

Examples 1 through 7 involve provenance.  Although they only use one property, they will have the same problem that the seminal example has as soon as there is a more involved notion of provenance.  Example 8 shows what is needed to fix provenance.   Examples 9 and 10 are almost exactly the semina

[2022-01-06 20:33] TallTed commented on #239
Please note, "RDF*" is an old thing, which we are not working on any longer.  Our ongoing work is on "RDF-star".  Yes, these names are pronounced the same.  When referencing them in writing, however, they must be spelled correctly, to communicate clearly.

"The current RDF* document" is ambiguous, as it could refer to the latest document which discussed "RDF*", or it could refer to the latest edit

[2022-01-07 16:07] #231 closed

[2022-01-20 10:00] pchampin opened #240 "reach out to Ontotext and Stardog"
https://w3c.github.io/rdf-star/Minutes/2022-01-07.html#a01
(forgot to add it earlier, sorry)

[2022-01-20 10:01] pchampin opened #241 "reach out to Corese"
https://w3c.github.io/rdf-star/Minutes/2022-01-07.html#a02
(forgot to add it earlier, sorry)

[2022-01-20 10:03] pchampin opened #242 "reach out to RDF4J"
https://w3c.github.io/rdf-star/Minutes/2022-01-07.html#a03
(forgot to add it earlier, sorry)

[2022-01-20 10:04] pchampin opened #243 "publish a post on the AWS blog"
https://w3c.github.io/rdf-star/Minutes/2022-01-07.html#a04
assigned to @rdfguy
(forgot to add it earlier, sorry)

[2022-01-20 10:05] pchampin opened #244 "reach out to Pat Hayes"
https://w3c.github.io/rdf-star/Minutes/2022-01-07.html#a05
assigned to @rdfguy
(forgot to add it earlier, sorry)

[2022-01-20 10:06] pchampin opened #245 "write a CG blog post about different kinds of occurrences"
https://w3c.github.io/rdf-star/Minutes/2022-01-07.html#a06
(forgot to add it earlier, sorry)

[2022-01-20 13:11] hartig commented on #240
Status update: I have sent out emails to both of them.

[2022-01-21 16:27] #244 closed

[2022-01-21 16:28] afs commented on #242
Done!

[2022-01-21 16:28] #242 closed

[2022-01-21 18:53] pchampin commented on #240
this was discussed during today's call: https://w3c.github.io/rdf-star/Minutes/2022-01-21.html#x047

[2022-01-21 18:54] pchampin commented on #243
this was discussed during today's call: https://w3c.github.io/rdf-star/Minutes/2022-01-21.html#x065

[2022-01-21 18:54] pchampin commented on #244
This was discussed during today's call: https://w3c.github.io/rdf-star/Minutes/2022-01-21.html#x069

[2022-01-21 18:55] pchampin commented on #241
This was discussed during today's call: https://w3c.github.io/rdf-star/Minutes/2022-01-21.html#x104

[2022-01-21 18:55] pchampin commented on #242
This was discussed during today's call: https://w3c.github.io/rdf-star/Minutes/2022-01-21.html#x108

[2022-01-21 18:56] pchampin commented on #245
This was discussed during today's call: https://w3c.github.io/rdf-star/Minutes/2022-01-21.html#x119

[2022-01-21 19:00] pchampin opened #246 "reach out to Cambridge Semantics (Anzo)"
this action was assigned during today's call: https://w3c.github.io/rdf-star/Minutes/2022-01-21.html#a02

[2022-01-21 19:01] pchampin opened #247 "ping DanBri about publishing the final report on the CG page"

[2022-01-24 11:16] hartig commented on #246
email sent

[2022-01-26 03:25] versant2612 opened #248 "SPARQL-Star and Property Paths: how to bind RDF triples from path to nested triples of RDF-Star triples?"
SPARQL property paths only return the start and end nodes of a path and do not allow variables in property path expressions.
SPARQL property paths don't return intermediate nodes neither path triples.
SPARQL property paths cannot retrieve and naturally represented a path in the tabular result format of SPARQL.

Considering RDF-Star and SPARQL-Star current specifications, is it possible to bind the

[2022-01-26 20:51] pchampin commented on #239
yes, if you make them more complex; but if you keep them simple, I would argue that there is no absolute need to use indirection. The [recent blog post](https://www.w3.org/community/rdf-dev/2022/01/26/provenance-in-rdf-star/) I wrote with the help of other members of the group develops this idea.

Even if we do "fix" the first examples, and end up with only examples with indirection, I would disag

[2022-01-26 23:55] hartig commented on #248
I'm confused. What is `AS PATH`?

That's not part of SPARQL. So, it is also not something to be expected in the current SPARQL-star spec, right?   Or am I missing something?

[2022-01-26 23:58] pfps commented on #239
The problem with simple (simplistic) solutions is that they very often are not compatible with more complex (realistic) solutions.  If the document is supposed to be used then it should not push for solutions that cause problems.

If all realistic solutions that use RDF-star require auxiliary constructs (even just extra triples of a certain kind) then it would be much better if RDF-sart was based

[2022-01-27 07:37] pchampin commented on #248
my understanding is that @versant2612  is proposing `AS PATH` as a future extension of SPARQL-star, for capturing all the triples matched by a property path.

[2022-01-27 08:01] hartig commented on #248
If that's the case, then I think this is something broader (read: for SPARQL in general, not just for SPARQL-star). It would require an extension of the notion of solution mappings with a notion of paths as possible values (e.g., for the variable ?p in the example). Such things have been considered in the research literature. However, after extending the notion of solution mappings in such a way,

[2022-01-27 15:12] versant2612 commented on #248
Yes @pchampin and @hartig, I was wondering about a future extension of SPARQL Property Paths with this hypothetical example
BUT
My doubt is how to bind the RDF triples from a property path query to nested triples of RDF-Star triples considering that I need to filter these RDF triples based on their meta information like time or level of confidence or source.

SELECT ?since ?t
WHERE {
    ns:p3 ns:

[2022-01-27 16:58] hartig commented on #248
Without defining what your `AS PATH` is supposed to mean, and in particular, what kind of thing it may assign to variable `?t`, it doesn't make much sense to talk about anything else that uses `?t`.

[2022-01-27 18:49] afs commented on #248
It isn't possible today.

Sketch/personal opinion:

SPARQL would be extended with a new type "path" in the data model. RDF terms, and RDF-star- terms are such types. Then, it is natural to extend SPARQL(-star) for assigning them to variables and having them in results. It would also naturally follow to have functions on paths.

Another approach is to have lists in the SPARQL data model and use the

[2022-01-28 13:11] pchampin commented on #239
As I explained in [my answer to Antoine on the mailing list](https://lists.w3.org/Archives/Public/public-rdf-star/2022Jan/0095.html), I am not convinced that there is a crisp line between simplistic and realistic solutions. It depends on your use-case. Someone's realistic (enough) model is simplistic for someone else's needs...

I don't quite understand what you mean by "based around notions that

[2022-01-31 14:58] pfps commented on #239
If any reasonable use of RDF-start require a stand-off from the embedded triple, as in
<<x y z>> rdf-start:occurence  [:a :b; :d :c]
the there should at least be nice to have a compact syntax for this or, even better, base RDF-sart around this.

If a better syntax is desired I suggest:
[rdf:subject x; rdf:predicate y; rdf:object z] :a :b; :d :c

[2022-01-31 15:33] TallTed commented on #239
@pfps -- Would you please edit [that comment](https://github.com/w3c/rdf-star/issues/239#issuecomment-1025842046) again, to add codefences (single ``` ` ``` or triple ` ``` ` backticks) around the pseudo-RDF-star syntax, and to correct the instances of `start` and `sart` to `star`, or whatever it was you really intended?

"Obvious" typos have added months of unproductive discussion in some groups

[2022-01-31 15:37] pfps commented on #239
@TallTed I find RDF-star very difficult to type correctly.  RDF* is very much easier.

[2022-01-31 15:52] TallTed commented on #239
@pfps -- Unfortunately, `RDF*` has a great many other negatives Vs. `RDF-star`, not least being that it may be pronounced "RDF-wildcard". You might try drafting your posts with `RDF*` and doing a quick search-and-replace before posting, if you can figure out all the appropriate escaping for your editor.

[2022-02-07 12:48] pchampin commented on #239
It would indeed be nice, if a *single*  indirection could fit all possible use cases, which (as I stated [above](https://github.com/w3c/rdf-star/issues/239#issuecomment-1022591211)) I don't think is the case.

And and of course you can still do this in RDF-star if that fits your use-case better than quoted triples.

[2022-02-08 12:08] rat10 opened #249 "links to use cases don't work"
the links to the use cases in Section 6.4.5 all 404 as they point to
 https://www.w3.org/2021/UCR/rdf-star-ucr.html
instead of
 https://w3c.github.io/rdf-star/UCR/rdf-star-ucr.html

[2022-02-09 11:28] afs commented on #249
Thanks - the spec had relative URLs so, when published, didn't work any more.

@pchampin Can we change the published version in place?

[2022-02-09 11:38] pchampin commented on #249
We can, and I just did :)
Note that another link to `../tests/` was also broken, and I fixed it as well on the published version.

[2022-02-09 20:37] afs commented on #249
Published version checked (probably needs a hard-refresh to get the latest HTML).

[2022-02-10 09:41] #249 closed

[2022-02-11 17:51] pchampin commented on #247
this was discussed duting today's call: https://w3c.github.io/rdf-star/Minutes/2022-02-11.html#x085

[2022-02-11 17:52] pchampin commented on #246
this was discussed during today's call: https://w3c.github.io/rdf-star/Minutes/2022-02-11.html#x091

[2022-02-11 17:52] pchampin commented on #243
this was discussed during today's call: https://w3c.github.io/rdf-star/Minutes/2022-02-11.html#x112

[2022-02-11 17:53] pchampin commented on #241
this was discussed during today's call: https://w3c.github.io/rdf-star/Minutes/2022-02-11.html#x117

[2022-02-11 17:53] pchampin commented on #241
this was discussed during today's call: https://w3c.github.io/rdf-star/Minutes/2022-02-11.html#x117

[2022-02-11 17:54] pchampin commented on #245
this was discussed during today's call: https://w3c.github.io/rdf-star/Minutes/2022-02-11.html#x122

[2022-02-18 07:13] VladimirAlexiev commented on #200
A great example! Which shows that asymmetric qualifiers on a symmetric relation may be problematic.

I'm starting to think that qualifiers on any prop instance that is subject to inference may be problematic. Because you pick just one instance to attach the qualifiers to, but that instance is interdependent with other instances...

[2022-03-04 17:26] pchampin commented on #247
this was discussed during today's call: https://w3c.github.io/rdf-star/Minutes/2022-03-04.html#x047

[2022-03-06 07:27] adielstatman opened #252 "Questions regarding to probabilistic RDFs"
Hi.
I want to operate a real-world decision making robot with a knowledge graph which uses an RDF schema, and can deal with uncertainty and probabilistic data. However, regarding the uncertainty issue, I find the following concerns:

1. Seems that none of the main available knowledge graphs (Neo4j, AllegroGraph and GraphDB) explicitly supplies computations of probabilities. Can you help me underst

[2022-03-06 13:55] afs commented on #252
RDF-star isn't making that claim.

RDF can recorded information about probabilities but RDF itself is not a probabilistic computing framework.

RDF can say "X believes {:s foaf:name "foo"} with probability 0.9"
But the graph does not contain the fact `:s foaf:name "foo"`.

RDF-star doesn't change this. It's in the nature of RDF.

RDF-star can help recording information -- e.g. triple "s p o" was s

[2022-03-07 07:53] adielstatman commented on #252
OK, thank you.
Can you recommend me on such "probabilistic engines" that compute probabilities?
Which are the methods that became useful in the industry or in real world implementations?

[2022-03-25 16:49] pchampin commented on #247
this was discussed during today's call: https://w3c.github.io/rdf-star/Minutes/2022-03-25.html#x048

[2022-03-25 16:50] pchampin opened #253 "add an explicit rationale about the choice of documents to include"
(those coming from the RDF and SPARQL WG)
as decided during today's call: https://w3c.github.io/rdf-star/Minutes/2022-03-25.html#a01

[2022-03-25 16:50] pchampin opened #254 "add the data and time of next call on the web page"
as decided during today's call: https://w3c.github.io/rdf-star/Minutes/2022-03-25.html#a02

[2022-03-25 16:51] pchampin opened #255 "see with Danbri to publish our calls on the RDF-dev calendar"
as decided during today's call: https://w3c.github.io/rdf-star/Minutes/2022-03-25.html#a03

[2022-03-25 17:20] #254 closed

[2022-04-06 22:17] puremachinery commented on #252
[Pyro](https://pyro.ai/) and [TensorFlow Probability](https://www.tensorflow.org/probability) are two such frameworks used in industry. Good luck.

[2022-04-07 09:20] pchampin commented on #200
I came to a realization lately : there is actually a tension between
- the need for referential transparency and reasoning on RDF-star quoted triples, and
- the need to be able to distinguish different "occurrences" of RDF-star quoted triples.

Advocates of referential transparency wish that, because `:alice :marriedTo :bob` and `:alice :marriedTo :robert` have the same meaning (assuming that `:bo

[2022-04-07 15:27] TallTed commented on #200
YES!  This has been the underlying cause of much of our discussion on list, calls, etc.

The challenge is how to achieve both without "modes".  Only time will tell whether the draft solutions we've arrived at will serve for all live deployments.

[2022-04-08 08:11] afs commented on #200
Yes! It is going to be important to get recognition that "occurrences" and "exactly what the triple is" can be important as well as the  transparency and reasoning cases.

[2022-04-08 10:30] ericprud commented on #200
Is it worth documenting different rdf-star idioms that meet @pchampin's conflicting use cases?

[2022-04-08 15:10] #255 closed

[2022-04-08 16:22] pchampin commented on #255
this was discussed during today's call: https://github.com/w3c/rdf-star/issues/255

[2022-04-08 17:07] TallTed commented on #200
It seems unlikely to hurt ... and may well be helpful ... but I can't guess at how much time this would take, nor how valuable it might be (e.g., by revealing something significant we haven't already thought through).

[2022-04-09 11:36] afs commented on #200
We can add entries to the UCR document. Even if these are short items, it will be useful to have them for the future. I'm sure the WG will discuss these matters.

[2022-04-25 11:43] enizor opened #256 "SPARQL-Star grammar imprecisions"
With the proposed SPARQL-Star grammar :

[code]
the subject of any quoted triple is allowed to be a literal, and the `DataValueTerm` rule (used for VALUES clauses) prevents the subject/object of the quoted triple to be a blank node.

It seems necessary to create different rules for quoted subjects and object, such as:

[code]

[2022-04-25 13:05] afs commented on #256
Yes - SPARQL allows literals in the subject position.  `{"foo":q "bar"}` is legal syntax and the spec noted it will never match data. It arises naturally in the definition of SPARQL.

(See also "generalized RDF" in RDF 1.1).

`QuotedTP` is "quoted triple pattern" and allows variables and blank nodes that match during BGP matching.
`QuotedTriple` is a constant term (no variables).

Blank nodes in p

[2022-04-25 13:28] pchampin commented on #256
Is it absolutely correct, though? Under some inference regimes, triples with literals as subjects can be inferred. E.g.:
[code]
would entail
[code]
And so
[code]
should match if that entailment regime was supported, right?

[2022-04-25 13:41] hartig commented on #256
owl:sameAs is defined only for individuals, not for literals (that is, according to the [RDF-based semantics of OWL](http://www.w3.org/TR/owl2-rdf-based-semantics/), the rdfs:domain of owl:sameAs is owl:Thing; and a literal is not an owl:Thing). Therefore, writing
[code]
should already be inconsistent in itself. No?

[2022-04-25 14:00] enizor commented on #256
My mistake, sorry for the noise.

[2022-04-25 14:07] afs commented on #256
"we"?

[2022-04-26 14:33] odameron opened #258 "invalid prefix declaration in RDF-star examples"
The RDF-star examples in https://w3c.github.io/rdf-star/cg-spec/editors_draft.html use the SPARQL-like syntax in Turtle-star.

Example-1 (https://w3c.github.io/rdf-star/cg-spec/editors_draft.html#example-1) is
```PREFIX :    <http://www.example.org/>```

and should use
`@prefix :    <http://www.example.org/> .`
with a final full stop

[2022-04-26 14:48] pchampin commented on #258
Actually, both syntaxes are valid in standard Turtle [1] (although this was an addition compared to the initial proposal [2]).

[1] https://www.w3.org/TR/turtle/
[2] https://www.w3.org/TeamSubmission/turtle/

[2022-04-26 15:35] odameron commented on #258
ah by bad, sorry for the noise
(I am glad to have learned this, though, the two different syntaxes were cumbersome)

[2022-04-26 15:35] #258 closed

[2022-05-24 10:28] AdamSobieski opened #261 "SPARQL-star DESCRIBE Queries"
I would like to comment that SPARQL-star [DESCRIBE](https://www.w3.org/TR/sparql11-query/#describe) queries could be useful for requesting content about triples or statements.

A DESCRIBE query about a triple or statement could make for a useful syntax example in the [specification](https://w3c.github.io/rdf-star/cg-spec/editors_draft.html) while providing an opportunity for discussion about what

[2022-05-27 16:44] pchampin opened #262 "RDF-star semantics (as currently defined) is non-monotonic"
... and we obviously do not want this!

## What is the problem?

More precisely:
[code]
entails
[code]
under simple entailment, but *does not entail that anymore* under D-entailment recognizing `xsd:integer`.

## How to fix it?

An easy fix would be to change step 2.4 of the [unstar mapping](https://www.w3.org/2021/12/rdf-star.html#mapping), more precisely:

would simply become

It means that ill-

[2022-05-30 06:34] hartig commented on #262
Good catch! I am fine with the proposed fix.

[2022-06-01 20:36] pchampin commented on #262
done, thanks

[2022-06-08 10:26] afs commented on #122
See also: https://github.com/w3c/shacl/issues/15

[2022-06-08 16:09] kasei opened #263 "sparql-compare type signature conflicts with description"
The type signature for [sparql-compare](https://www.w3.org/2021/12/rdf-star.html#sparql-compare) is:

[code]

with a return value of `xsd:boolean`. However, the description says:

I believe `xsd:boolean` should be changed to `xsd:integer` here.

[2022-06-08 16:48] kasei opened #264 "Confusing definition of sparql-compare for triples with IRI components"
The first step of [sparql-compare](https://www.w3.org/2021/12/rdf-star.html#sparql-compare) is defined as:

I find this confusing in cases where the operator is `=` and the operands are IRIs. Looking at the [sparql-star-op-3](https://w3c.github.io/rdf-star/tests/sparql/eval/#sparql-star-op-3) test for the `:x7` test record, we have:

`<< :a :b 9 >>` `<` ` << :a :b 123 >>`

In this case, `<` is not

[2022-06-08 17:42] kasei opened #265 "Possible issue with sparql-compare semantics and ORDER BY"
[SPARQL 15.1](https://www.w3.org/TR/sparql11-query/#modOrderBy) says:

This suggests that the `<` operator does not handle IRIs, even within ORDER BY handling. The ordering of IRIs is handled as a special case in evaluating `OrderBy`.

But [RDF-star 4.4.11 Triple terms with ORDER BY](https://www.w3.org/2021/12/rdf-star.html#triple-term-comparison) says:

[RDF-star 4.4.10](https://www.w3.org/2021/1

[2022-06-10 16:11] pchampin commented on #247
this was discussed during today's call: https://w3c.github.io/rdf-star/Minutes/2022-06-10.html#x043

[2022-06-12 17:24] afs commented on #264
There will be a revised text to refer to [the SPARQL 1.1 operator mappings](https://www.w3.org/TR/sparql11-query/#OperatorMapping). `sparql-compare` is declaring the outcome, and not defining how base SPARQL 1.1 operators are applied for two RDF terms which are not quoted triples.

[2022-06-15 16:52] pchampin commented on #247
:tada:

[2022-06-15 16:52] #247 closed

[2022-07-06 12:17] #263 closed

[2022-07-06 12:17] #264 closed

[2022-07-11 16:33] wnybomTNA opened #268 "RDF-star IRI 404"
According to [RDF-star and SPARQL-star (w3.org)](https://www.w3.org/2021/12/rdf-star.html#conventions) the rdf-star IRI should be http://www.w3.org/ns/rdf-star#
Why does the page there give 404?

[2022-07-12 13:07] afs commented on #268
That is the namespace URI. Prefix declarations and XML namespaces do not require the URL to resolve to a document.

The Community Group (CG) has produced a final report and the next step is in process to start a Working Group (WG), which can produce W3C standards.

While it is good practice to place an informative document at the namespace URL, it is also useful for it to be stable.

The working g

[2022-07-12 15:52] #268 closed

[2022-07-17 06:55] jeswr opened #269 "Self-referential resource URI for testing manifest documents is incorrect"
The manifest documents for the test suites are located at URLs like:

https://w3c.github.io/rdf-star/tests/trig/syntax/manifest.ttl

But in the manifest document they refer to themselves to using a fragment identifier e.g.

https://w3c.github.io/rdf-star/tests/trig/syntax#manifest

This results in problems in tools trying to use the manifest automatically, in particular https://github.com/rubenswo

[2022-07-17 08:09] afs commented on #269
Other tools have been processing the files successfully for awhile now. Could you explain more please?

Taking the TriG syntax tests as an example: if you mean:
[code]
that is describing the abstract thing, not the document. httpRange-14 and all that.

There is more than one syntax file for the manifests - Turtle and JSON-LD. The tests and the description of the manifest must have fixed URI, not s

[2022-07-17 11:02] jeswr commented on #269
Rather than looking up all instances of type `mf:Manifest`, the rdf-test-suite is used by running the command

[code]

Where the first argument `parser.js` is the JavaScript parser you are testing, and the second argument is the URI of the manifest document and it is [expected that this is the same as the resource URI for the manifest file](https://github.com/rubensworks/rdf-test-suite.js/blob/9c9

[2022-07-17 17:05] TallTed commented on #269
@jeswr -- You appear to have a misunderstanding of the meaning of `owl:sameAs`. This is not a predicate of "equivalence" or "similarity", but of *co-reference*. Your two statements of —
[code]
— indicate that *the same entity* is identified by the three URIs —
[code]
— as well as clearly implying that
[code]
We do need to know what the `trs:` prefix maps to, in order to have full understanding of

[2022-07-17 17:27] gkellogg commented on #269
The manifest at `https://w3c.github.io/rdf-star/tests/index.html` contains a `rel=alternate` relationship to the Turtle and JSON-LD versions, which should probably follow for the other HTML versions of the manifest.

IIRC, the `trs:manifest` entity was created to deal with the explicit serialization form represented by using `<>` or `<manifest.ttl>`, as @afs suggested, but which was the norm for o

[2022-07-17 17:39] afs commented on #269
The link is line 46 of ManifestLoader.ts.

At lines 47-53 there is code to deal with RDFa. The same approach could be applied for RDF-star:

`"/manifest.ttl" => "#"`

Looking for `rdf:type mf:Manifest` would work in all cases, and be able to warn of there are unexpectedly two or more such resources.

[2022-07-20 12:30] jeswr opened #270 "[Question] Indexing strategies for reified triples"
I'm considering looking into extending the [N3.js Store](https://github.com/rdfjs/N3.js/blob/main/src/N3Store.js) indexing mechanism to index reified triples - rather than simply treating the reified triple as a term as the Store currently does.

I'm wondering what implementations there are in the area of indexing of reified triples / indexing for RDF-star that I can have a look at or read papers

[2022-07-20 18:04] TallTed commented on #270
@jeswr -- Please note that although `RDF*` and `RDF-star` are pronounced the same, they are radically different in meaning. `RDF*` was an [early experimental draft](http://ceur-ws.org/Vol-1912/paper12.pdf) of what has evolved (for many reasons) into the currently [drafted](https://w3c.github.io/rdf-star/cg-spec/editors_draft.html) and [reported](https://www.w3.org/2021/12/rdf-star.html) (and headi

[2022-11-19 00:51] jeswr commented on #269
I'm finally coming back to this - and to me, there is still one key problem which is that in the root manifest (https://w3c.github.io/rdf-star/tests/manifest.ttl) we have the statement

[code]

The tool https://github.com/rubensworks/rdf-test-suite.js/issues/77 _expects_ that the entries in this list are resources of type `mf:Manifest`; which holds true on all the other test suites it supports. Ho

[2022-11-21 13:27] valecarriero opened #272 "deeply nested triples or blank nodes?"
Hi there,

I am new to rdf-star, and I would like to have your feedback about a use case I have, where I'm trying to write "deeply nested triples".

I use the vocabulary [owl-star](https://github.com/cmungall/owlstar), for annotating the probability of owl axioms represented as single triples, and I believe I'm trying to address the problem already described in [this issue](https://github.com/cmun

[2022-11-21 19:19] TallTed commented on #272
Note that `RDF-star` (which was initially written up as `RDF*`, but that name is very problematic, and has been set aside) is far from finalized, so everything you're working with should be considered experimental, at best.  Along these lines, note that OWLStar was last changed in February 2021, more than a year before the final report was issued by the RDF-star focus group of the RDF-DEV Communit

[2022-11-22 14:18] RickMoynihan opened #273 "Referential opacity entailment examples"
Hi,

I'm somewhat confused by referential opacity in RDF-star and I'm wondering if the [example used](https://w3c.github.io/rdf-star/cg-spec/2021-12-17.html#ref-opacity-d-entailment) is correct; but equally perhaps I don't fully understand D-entailment.

In particular it strikes me that the example might be backwards, i.e. under D-entailment of pure RDF (not RDF-star) would one really say?

`dbr:L

[2022-11-22 14:46] RickMoynihan opened #274 "Clarification on comparison to reified statements"
The [current draft spec states](https://w3c.github.io/rdf-star/cg-spec/2021-12-17.html#common-misconceptions):

It strikes me that this is possible with RDF reification, as blank nodes are not enforced by it e.g. one can do the following and unambiguously refer to `:statement-1`:

[code]

In which case is the most meaningful difference simply that the reified statement is subject to entailment; wh

[2022-11-22 15:13] TallTed commented on #273
Some inadvertent complication seems to have snuck into your attempt to explain your question.  Please note that regardless of whether or not
[code]
entails
[code]
or vice versa, it is absolutely inaccurate to say
[code]
because when you look to that `:source`, you will find only
[code]

[2022-11-22 15:59] RickMoynihan commented on #273
Thanks for the prompt response @TallTed.  Just to check that I'm following properly...

I think you're saying my example exasperates the confusion because by flipping the direction of entailment it no longer corresponds to what is currently hosted in the remote resource?

Regarding whether or not it is inaccurate to say this, the example makes no claim about _when_ the source was proported to say

[2022-11-23 10:48] valecarriero commented on #272
Thank you so much for your useful feedback, @TallTed!
Valentina